<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Customer Creator</title>
  <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Menu Bar -->
<div class="menubar">
  <a class="unactive" href="/">Home</a>
  <a class="active" href="/showAllCustomers">Customers</a>
  <a class="unactive" href="/showAllMotorhomes">Motorhomes</a>
  <a class="unactive" href="/showAllRentals">Rentals</a>
  <a class="unactive" href="/showAllAccessories">Accessories</a>
</div>

<h3>
  Customer is on a rental contract.
</h3>

<br>

<!--
<a href="/showAllCustomers">
  <button class="delay-video">Return to previous menu</button>
</a>
-->

</body>
</html>