/*
This CSS-section is for all the overall CSS like h1 or p etc...
 */
.h1 {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 1px;
}

.h1-1 {
    font-family: sans-serif;
    padding-bottom: 1px;
}



/*
These are CSS for the top navigation menu
 */

.menubar {
    background-color: #333;
    overflow: hidden;
}

.menubar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.menubar a.unactive {
    font-family: sans-serif;
    background-color: #333;
    color: #ffffff;
}

.menubar a.active {
    font-family: sans-serif;
    background-color: #0475aa;
    color: #ffffff;
}

/*
These are the CSS for the search bar
 */



/*
These are CSS for the tables
 */
/*
.column {
    float: right;
}

.column2 {
    float: right;
    margin-left:auto;
    margin-right:auto;
}

 */
/*
.row::after {
    content: "";
    clear: both;
    display: table;
}

#pagecss {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#pagecss td, #indexpagecss th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


#pagecss tr:nth-child(even){background-color: #f2f2f2}


#pagecss tr:hover {background-color: #ddd}

#pagecss {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#pagecss th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #008cba;
    color: #ffffff;
}
*/
/*
These are CSS for the Login window
 */
.menubar a.login {
    float: right;
    font-size: 17px;
    font-family: sans-serif;
    background-color: #333;
    color: #ffffff;
}

.menubar a.loginpage {
    float: right;
    font-size: 17px;
    font-family: sans-serif;
    background-color: #0475aa;
    color: #ffffff;
}

div.loginwindow {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    display: block;
    text-align: center;
}

input.loginfield{
    float: right;
    font-size: 17px;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    border: 2px solid #dadada;
    border-radius: 3px;
}

input.login-btn{
    float: end;
    font-size: 17px;
    font-family: sans-serif;
    height: 55px;
    width: 100px;
    background-color: #0475aa;
    color: #ffffff;
    border: 10px solid white;
    border-radius: 1px;
}

/*
Write the next group description here -->>>
 */


