<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add new Customer</title>
  <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>
<body class="index-background">

<!--@Author Kasper N. Jensen-->
<!-- Menu Bar -->
<div class="menubar">
  <a class="unactive" href="/">Home</a>
  <a class="unactive" href="/showAllCustomers">Customers</a>
  <a class="unactive" href="/showAllMotorhomes">Motorhomes</a>
  <a class="active" href="/showAllRentals">Rentals</a>
  <a class="unactive" href="/showAllServiceReports">Service Reports</a>
  <a class="login" href="/loginPage">Login</a>
</div>


<h1 class="h1">Create Rental</h1>
<!--@Author Kasper N. Jensen-->
<form class="add-form" action="/addNewRental" method="post">
  <div style="background-color: rgba(255,255,255,0.50)">
  <label class="label-text">Customer ID</label>
  <br>
  <input class="labelcss" type="text" name="customer_id" placeholder="12"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Start Date</label>
  <br>
  <input class="labelcss" type="date" name="start_date" placeholder="2021-04-25"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">End Date</label>
  <br>
  <input class="labelcss" type="date" name="end_date" placeholder="2021-05-25"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Pick-Up</label>
  <br>
  <input class="labelcss" type="text" name="pick_up_distance" placeholder="på havnen"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Pick-Up Distance</label>
  <br>
  <input class="labelcss" type="text" name="pick_up_distance" placeholder="123"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Drop-Off</label>
  <br>
  <input class="labelcss" type="text" name="drop_off_location" placeholder="Malmø"> <span style="color: red">*</span>
  <br><br>

   <label class="label-text">Drop-Off Distance</label>
   <br>
   <input class="labelcss" type="text" name="drop_off_distance" placeholder="123"> <span style="color: red">*</span>
   <br><br>


    <label class="label-text">Motorhome</label>
  <br>
  <div class="labelcss" for="motorhomes" accesskey="motorhomes" th:object="${motorhome}">
    <select name="Motorhome">
      <option value="">Select motorhome</option>
      <option th:each="motorhome: ${motorhomes}"
              th:value="${motorhome.id}"
              th:text="@{'ID: ' + ${motorhome.id} + ' - ' + ${motorhome.brand} + ' - ' + ${motorhome.model}}">
      </option>
    </select>  <span style="color: red">*</span>
  </div>
  <br><br>

  <label class="label-text">Accessories</label>
  <br>
  <div class="label-text" style="width: 16%">
  <table id="tablecss">
    <thead>
    <tr>
      <th>Accessory name</th>
      <th></th>
    </tr>
    <thead/>
     <tbody>
     <tr th:each="accessory:${accessoryList}">
     <td th:text="${accessory.name}" />
     <td>
       <input type="checkbox" value="1">
     </td>
     </tr>
     </tbody>

  </table>
  </div>
  <br><br>


  <pre style="font-size: 14px; font-family: Arial, sans-serif">               ALL FIELDS WITH <i style="color: red; font-size: 24px">*</i> MUST BE FILLED</pre>
  <input class="button1 button-anc" type="submit" value="Create Rental">
  </div>
</form>


</body>
</html>