<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../MyCSS.css">
</head>
<body>

<!-- Menu Bar -->
<div class="topnav">
    <a class="notactive" href="/">Home</a>
    <a class="notactive" href="/showAllCustomers">Customers</a>
    <a class="notactive" href="/showAllMotorhomes">Cars</a>
    <a class="active" href="/showAllRentals">Contracts</a>
    <a class="notactive" href="/showAllServiceReports">Cars</a>
</div>

</body>
</html>