<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accessories</title>
    <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--@Author Jimmy-->
<!-- Menu Bar -->
<div class="menubar">
    <a class="unactive" href="/">Home</a>
    <a class="unactive" href="/showAllCustomers">Customers</a>
    <a class="unactive" href="/showAllMotorhomes">Motorhomes</a>
    <a class="unactive" href="/showAllRentals">Rentals</a>
    <a class="active" href="/showAllAccessories">Accessories</a>
</div>

<!-- Header -->
<h1 class="h1">Accessory List</h1>

<!-- Table -->
<table id="tablecss">
    <thead>
    <tr>
        <!-- ID sort and display -->
        <th><a href="/showAllAccessories" style="color: #ffffff; text-decoration: none;
            font-family: Arial, sans-serif; border-collapse: collapse; width: 100%">ID</a></th>

        <!-- Name sort and display -->
        <th><a href="/showAllAccessories/name" style="color: #ffffff; text-decoration: none;
            font-family: Arial, sans-serif; border-collapse: collapse; width: 100%">Name</a></th>

        <!-- Price sort and display -->
        <th><a href="/showAllAccessories/price" style="color: #ffffff; text-decoration: none;
            font-family: Arial, sans-serif; border-collapse: collapse; width: 100%">Price</a></th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Display all customers information-->
    <tr th:each="accessory:${accessoryList}">
        <td th:text="${accessory.id}"/>
        <td th:text="${accessory.name}"/>
        <td th:text="${accessory.price}"/>
        <td>
            <a th:href="@{'/updateAccessory/'+${accessory.id}}">
                <button class="btn-update" id="btn-update" title="Edit Accessory"><img src="../edit.png" alt="Edit Accessory" width="25px" height="25px"></button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>