<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Service Reports</title>
    <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--@Author Kasper N. Jensen-->
<!-- Menu Bar -->
<div class="menubar">
    <a class="unactive" href="/">Home</a>
    <a class="unactive" href="/showAllCustomers">Customers</a>
    <a class="unactive" href="/showAllMotorhomes">Motorhomes</a>
    <a class="unactive" href="/showAllRentals">Rentals</a>
    <a class="unactive" href="/showAllAccessories">Accessories</a>
</div>

</body>
</html>