<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rentals</title>
    <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--@Author Kasper N. Jensen-->
<!-- Menu Bar -->
<div class="menubar">
    <a class="unactive" href="/">Home</a>
    <a class="unactive" href="/showAllCustomers">Customers</a>
    <a class="unactive" href="/showAllMotorhomes">Motorhomes</a>
    <a class="active" href="/showAllRentals">Rentals</a>
    <a class="unactive" href="/showAllServiceReports">Service Reports</a>
    <a class="active" href="/showAllAccessories">Accessories</a>
    <a class="login" href="/loginPage">Login</a>
</div>

<h1 class="h1">Rental List</h1>

<a href="/addNewRental">
    <button class="button1 button-anc">Add new Rental</button>
</a>

<table id="tablecss">
    <thead>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Customer<br>ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Pick-up</th>
        <th>Drop-off</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Fuel<br>Type</th>
        <th>Accessories</th>
        <th>Total Price</th>
        <th>Cancelled<br>Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Display all car information-->
    <tr th:each="rental:${rentalList}">
        <td th:text="${rental.id}"/>
        <td th:text="@{${rental.customer.first_name} + ' ' + ${rental.customer.last_name}}"/>
        <td th:text="${rental.customer.id}"/>
        <td th:text="${rental.start_date}"/>
        <td th:text="${rental.end_date}"/>
        <td th:text="${rental.pick_up_location}"/>
        <td th:text="${rental.drop_off_location}"/>
        <td th:text="${rental.motorhome.brand}"/>
        <td th:text="${rental.motorhome.model}"/>
        <td th:text="${rental.motorhome.fuel_type}"/>
        <td th:text="'Accessories here'"/>
        <td th:text="${rental.total_price}"/>
        <td th:text="'Cancelled date here'"/>
        <td>
            <a th:href="@{'/showMotorhome/'+${rental.motorhome.id}}">
                <button class="btn-show" id="btn-show" title="Show Motorhome"><img src="view.png" alt="Show Motorhome" width="25px" height="25px"> </button>
            </a>
            <a th:href="@{'/updateRental/'+${rental.id}}">
                <button class="btn-update" id="btn-update" title="Edit Rental"><img src="edit.png" alt="Edit Rental" width="25px" height="25px"></button>
            </a>

            <a th:href="@{'/deleteRental/'+${rental.id}}">
                <button class="btn-delete" id="btn-delete" title="Delete Rental"><img src="delete.png" alt="Delete Rental" width="25px" height="25px"></button>
            </a>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>