<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update Customer</title>
  <link href="../MyCSS.css" rel="stylesheet" type="text/css">
</head>
<body class="index-background"> <!-- This adds the background cover -->

<!--@Author Kasper N. Jensen-->
<!-- Menu Bar -->
<div class="menubar">
  <a class="unactive" href="/">Home</a>
  <a class="active" href="/showAllCustomers">Customers</a>
  <a class="unactive" href="/showAllMotorhomes">Motorhomes</a>
  <a class="unactive" href="/showAllRentals">Rentals</a>
  <a class="unactive" href="/showAllAccessories">Accessories</a>
</div>

<h1 class="h1">Update Customer</h1>

<!--@Author Kasper N. Jensen-->
<form class="add-form" th:href="@{'/updateCustomer/'+${customer.id}}" method="post">
  <label class="label-text">First Name</label>
  <br>
  <input class="labelcss" type="text" name="first_name" th:value="${customer.first_name}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Last Name</label>
  <br>
  <input class="labelcss" type="text" name="last_name" th:value="${customer.last_name}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Mobile No.</label>
  <br>
  <input class="labelcss" type="number" name="mobile" th:value="${customer.mobile}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Phone No.</label>
  <br>
  <input class="labelcss" type="number" name="phone" th:value="${customer.phone}">
  <br><br>

  <label class="label-text">E-mail</label>
  <br>
  <input class="labelcss" type="email" name="email" th:value="${customer.email}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Drivers license Number.</label>
  <br>
  <input class="labelcss" type="text" name="drivers_license" th:value="${customer.drivers_license}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Drivers License issue date</label>
  <br>
  <input class="labelcss" type="date" name="dl_issue_date" th:value="${customer.dl_issue_date}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Drivers License expire date</label>
  <br>
  <input class="labelcss" type="date" name="dl_expire_date" th:value="${customer.dl_expire_date}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Street Name</label>
  <br>
  <input class="labelcss" type="text" name="street" th:value="${customer.street}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Floor</label>
  <br>
  <input class="labelcss" type="text" name="floor" th:value="${customer.floor}">
  <br><br>

  <label class="label-text">City</label>
  <br>
  <input class="labelcss" type="text" name="city" th:value="${customer.city}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Zip</label>
  <br>
  <input class="labelcss" type="number" name="zip" th:value="${customer.zip}"> <span style="color: red">*</span>
  <br><br>

  <label class="label-text">Country</label>
  <br>
  <div class="label-text" for="countries" accesskey="countries" th:object="${country}">
    <select class="form-control" id="countryOrder" name="Country">
      <option th:text="${customer.country}"></option>
      <option th:each="country : ${countries}"
              th:value="${country.id}"
              th:text="${country.name}"></option>
    </select>
  </div> <span style="color: red">*</span>
  <br><br>

  <pre style="font-size: 14px; font-family: Arial, sans-serif">               ALL FIELDS WITH <i style="color: red; font-size: 24px">*</i> MUST BE FILLED</pre>
  <input class="button1 button-anc" type="submit" value="Update Customer">
</form>
</body>
</html>